
*.validationcache
*.wsettings
*.wsettings
*.validationcache
Project Template/Assets/Wwise/Editor/ProjectData.meta
Project Template/Project Template_WwiseProject/Project Template_WwiseProject.gfcur.wsettings
